.custom-navbar {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  z-index: 1000;
}

.brand-logo {
  width: 32px;
  height: 32px;
}

.nav-link-style {
  font-weight: 500;
  color: #f1f1f1 !important;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.nav-link-style:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #ffffff !important;
}

.logout-btn {
  border-radius: 20px;
  padding: 6px 16px;
  font-weight: 500;
}


.custom-navbar .btn {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logout-btn {
  background-color: #ff6b81;
  border: none;
  transition: 0.2s;
}

.logout-btn:hover {
  background-color: #ff4757;
}
